.nav-container{
    background-color: rgb(74, 74, 243);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
}
.active{
    background-color: white;
    color: rgb(74, 74, 243) !important;
}
.logo{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.logo img{
    width: 30px;
}
.nav-link a{
    text-decoration: none;
    margin-left: 20px;
    color: white; 
    font-size: 18px;
    font-weight: 500;
    padding: 3px 8px;
    border-radius: 8px;
}

@media  screen and (max-width:662px) {
    .nav-container{
        padding: 10px 10px;
    }
    .nav-link a{
        margin-left: 5px;
        padding: 3px 5px;
    }
}
@media  screen and (max-width:350px){
    .logo img{
        width: 20px;
    }
    .nav-container{
        padding: 5px 5px;
    }
    .logo h2{
        font-size: 18px;
    }
    .nav-link a{
        font-size: 14px;
        padding: 3px 3px;
    }

}