.blog-container{
    margin: 20px;
}
.blog-container h2{
    text-align: center;
    margin-bottom: 30px;
    
}
.blog-ques{
    padding: 15px;
    border: 2px solid rgb(64, 64, 243);
    border-radius: 10px;
    margin-bottom: 15px;
}
.blog-ques p{
    line-height: 25px;
}
.blog-ques:hover{
    background-color: rgb(241, 241, 252);
}